.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left >img{
    object-fit: contain;
    height: 25px;
    margin-left: 5px;
}
.header-middle{
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.header-middle > MuiSvgIcon-root{
    color: gray;
}
.header-middle > input{
    border:none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    font-size: medium;
}
.header-right{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 20px;
}